AddDefaultCharset utf-8

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L]
#    . - любые символы, * - любое количество раз  переадрессовываем на index.php
    #Данная запись означает буквально следующее: если запрошенный URL-адрес не является файлом и не является директорией,
    # то подменить виртуальный адрес файлом index.php. При этом, суперглобальная переменная PHP $_SERVER['REQUEST_URI'] будет
    # содержать именно запрошенный виртуальный адрес! Что это нам даёт? Фактически - безграничные возможности для манипулирования
    #  виртуальными адресами. Механизм разбора таких виртуальных URL-адресов на урвне PHP называется роутингом.

